.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.label {
  font-size: 1.2em;
  margin-bottom: 0.6rem;
}
.form-input {
  width: 100%;
  margin-bottom: 0.8rem;
}
.form-input-sm {
  margin-bottom: 0.8rem;
}
.dialog-btn {
  outline-width: 0;
}
.fade-out {
  opacity: 0.4;
}
