<h2 mat-dialog-title>Add Work Experience</h2>
<mat-dialog-content>
  <div class="flex-col">
    <span class="label">What company did you work for ?</span>
    <mat-form-field class="form-input">
      <input
        [(ngModel)]="data.company"
        matInput
        placeholder="Company"
        spellcheck="false"
      />
    </mat-form-field>
    <span class="label">What was the title of your position ?</span>
    <mat-form-field class="form-input">
      <input
        [(ngModel)]="data.jobTitle"
        matInput
        placeholder="Job Title"
        spellcheck="false"
      />
    </mat-form-field>
    <span class="label">What was the job location ?</span>
    <div class="flex-row">
      <mat-form-field class="form-input-sm mr-5">
        <input
          [(ngModel)]="data.jobCity"
          matInput
          placeholder="Job City"
          spellcheck="false"
        />
      </mat-form-field>
      <mat-form-field class="form-input-sm">
        <input
          [(ngModel)]="data.jobCountry"
          matInput
          placeholder="Job Country"
          spellcheck="false"
        />
      </mat-form-field>
    </div>
    <span class="label">When did you work there ?</span>
    <div class="flex-row">
      <mat-form-field>
        <input
          [(ngModel)]="startDate"
          matInput
          [matDatepicker]="start"
          placeholder="Start Date"
        />
        <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
        <mat-datepicker #start></mat-datepicker>
      </mat-form-field>
      <span class="ml-4 mr-4 mt-auto mb-auto"><strong>-</strong></span>
      <mat-form-field *ngIf="!isPresentChecked">
        <input
          [(ngModel)]="endDate"
          matInput
          [matDatepicker]="end"
          placeholder="End Date"
          spellcheck="false"
        />
        <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
        <mat-datepicker #end></mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngIf="isPresentChecked" >
        <input
          matInput
          [matDatepicker]="endDisabled"
          placeholder="End Date"
          spellcheck="false"
          disabled
        />
        <mat-datepicker-toggle matSuffix [for]="endDisabled"></mat-datepicker-toggle>
        <mat-datepicker #endDisabled></mat-datepicker>
      </mat-form-field>
      <mat-checkbox (click)="onPresent()" class="ml-5 mt-auto mb-auto"
        >Present
      </mat-checkbox>
    </div>
    <span class="label">What were your responsibilities ?</span>
    <mat-form-field class="responsibilities">
      <textarea
        [(ngModel)]="data.jobTasks"
        matInput
        placeholder="Responsibilities"
        spellcheck="false"
      ></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    (click)="onCancel()"
    class="dialog-btn"
    mat-button
    [mat-dialog-close]="data"
  >
    Cancel
  </button>
  <button
    (click)="onDone()"
    class="dialog-btn"
    mat-button
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    Done
  </button>
</mat-dialog-actions>
