<div class="body container-fluid flex-col">
  <div class="flex-col top-side">
    <div class="user-profile-photo">
      <span class="initial">{{ initial }}</span>
    </div>
    <span class="user-full-name">{{ user.firstName }} {{ user.lastName }}</span>
    <span class="user-position">{{ user.currentPosition }}</span>
    <div class="flex-row location">
      <img class="location-img" src="../../assets/location.png" alt="" />
      <span>{{ user.city }}, {{ user.country }} </span>
    </div>
  </div>
  <div class="content flex-col">
    <div class="content-card summary flex-col">
      <span class="content-title">
        Summary
      </span>
      <div class="separator"></div>
      <span *ngIf="!user.hasSummary" class="user-summary content-text-faded"
        >No summary added.</span
      >
      <span *ngIf="user.hasSummary" class="user-summary content-text">{{
        user.summary
      }}</span>
      <span (click)="openSummaryDialog()" class="action">Add summary</span>
    </div>

    <div class="content-card work-experience flex-col card-m-top">
      <span class="content-title">
        Work experience
      </span>
      <div class="separator"></div>
      <span *ngIf="!user.hasWorkExperience" class="content-text-faded"
        >No work experience added.</span
      >
      <div
        *ngFor="let experience of user.workExperience; let index = index"
        class="flex-row"
      >
      <div class="work-experience-side"></div>
      <div class="work-experience flex-col">
          <span class="job-title">{{ experience.jobTitle }}</span>
          <span class="company">{{ experience.company }}</span>
      </div>
    </div>
      <span (click)="openWorkExperienceDialog()" class="action"
        >Add work experience</span
      >
    </div>
  </div>
</div>
