.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.body {
  background-color: #f8f8f8;
}
.top-side {
  margin-top: 2rem;
}
.top-side .user-profile-photo {
  display: flex;
  width: 5rem;
  height: 5rem;
  border-radius: 4rem;
  background-color: #006cff;
  margin-left: auto;
  margin-right: auto;
}
.top-side .user-profile-photo .initial {
  font-size: 2em;
  color: white;
  margin: auto;
}
.top-side .user-full-name {
  font-size: 1.6em;
  margin-top: 1.2rem;
  margin-left: auto;
  margin-right: auto;
}
.top-side .user-position {
  color: #757575;
  margin-top: 0.3rem;
  margin-left: auto;
  margin-right: auto;
}
.top-side .location {
  margin-top: 0.3rem;
  color: #757575;
  margin-left: auto;
  margin-right: auto;
}
.top-side .location .location-img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.6rem;
}
.content {
  margin-top: 5rem;
}
.content .content-card {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.08);
  margin-left: auto;
  margin-right: auto;
  width: 44rem;
}
.content .content-card .content-title {
  font-size: 1.2em;
}
.content .content-card .separator {
  width: 100%;
  height: 1px;
  background-color: #8c8c8c;
  margin-top: 0.6rem;
}
.content .content-card .content-text {
  margin-top: 0.8rem;
  color: #aaa;
  font-size: 1.1em;
}
.content .content-card .action {
  color: #2371df;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.6rem;
  cursor: pointer;
}
.content .card-m-top {
  margin-top: 3rem;
}
@media screen and (max-width: 780px) {
  .content .content-card {
    width: 94%;
  }
}
